





.air-window {
  /* background-color: #000000 ; */
  /* box-shadow: #C6D9DA 0px 45px 40px 50px; */
  width: 500px;
  height: 250px;
  position: fixed;
  z-index: 1000;
  top: 65px;
  right: 0vw;
  border-radius: 0px 0px 20px 20px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: start;
  justify-content: right;
  padding-right: 12px;
}
.air-w3{
  /* background-color: #00656c; */
  width: 65px;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 20px;
  padding-top: 1px;
  overflow: hidden;
}
.hr-air-w3{
  /* border: #ff0000 solid 6px; */
  border: none;
  width: 12px;
  height: 104%;
  border-radius: 0px 0px 20px 0px;
  animation: hr-air-w3 3s linear infinite;
  display: none;
  /* border: #00000000 solid 2px; */
}

@keyframes hr-air-w3 {
  0% {
    box-shadow: #00778000 0px 0px 10px 0px inset;
  }
  25% {
    box-shadow: #00757d 0px 200px 10px 0px inset;
    /* border: #ffffff solid 2px; */
  }
  50% {
    box-shadow: #00757d 0px 200px 10px 0px inset;
    /* border: #ffffff solid 2px; */
  }
  /* 75% {
    box-shadow: #007780 0px 150px 10px 0px inset;
  } */
  100% {
    box-shadow: #00757d 0px 300px 10px 0px inset;
    /* border: #ffffff solid 2px; */
    /* background: linear-gradient(to top, #007780, rgb(114, 114, 114), rgb(136, 136, 136) 90%); */
  }
}
.air-w2{
  /* background-color: #00a1ad; */
  width: 80px;
  height: 145px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
}
.hr-air-w2{
  /* border: #000000 solid 6px; */
  border: none;
  height: 12px;
  width: 100%;
  border-radius: 30px 0px 0px 30px;
  animation: hr-air-w2 3s linear infinite;
  display: none;
  /* border: #00000000 solid 2px; */

}
@keyframes hr-air-w2 {
  0% {
    box-shadow: #00778000 0px 0px 10px 0px inset;
  }
  10% {
    box-shadow: #00778006 -10px 0px 10px 0px inset;
  }
  50% {
    box-shadow: #00757d -200px 0px 10px 0px inset;
    /* border: #ffffff solid 2px; */
  }
  /* 75% {
    box-shadow: #007780 0px 150px 10px 0px inset;
  } */
  100% {
    box-shadow: #00757d -200px 0px 10px 0px inset;
    /* border: #ffffff solid 2px; */
    /* background: linear-gradient(to top, #007780, rgb(114, 114, 114), rgb(136, 136, 136) 90%); */
  }
}
.air-w1{
  width: 100%;
  height: 170px;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 20px;
  margin-top: 40px;
  margin-right: 10px;
  overflow: hidden;
  /* background: linear-gradient(150deg , #6fb6bb7b,#6fb6bb7c,#6fb6bb7a); */
  box-shadow: #0000004f 10px 10px 10px 0px;
  border: #237379 solid 4px;
  background-color: #6fb6bb7a;
}
.air-w1-right{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  /* background-color: #00000074; */
  /* border: #02777F solid 4px; */
}
#air-w1-right a{
  color: #ffffff;
}
#air-w1-right a h2{
  width: 150px;
  /* height: 10px; */
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 19px;
  color: #ffffff;
  font-weight: 700;
  /* background-color: #00000098;
  border: #00b7ff00 solid 7px; */

  background-color: #025f66d5;
  border: #ffffff00 solid 7px;
  border-left: #ffffff solid 10px;
  /* border-right: #ffffff solid 10px; */
  box-shadow: #00000082 10px 10px 10px 0px;
}
#air-w1-right a h2:hover{
  background-color: #000000;
  border-radius: 10px;
}
/* #air-w1-right #serb{
  background-color: #02777fc2;
  border-left: #ffffff solid 10px;
} */
.air-w1-left{
  /* width: 200px; */
  height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 10px; */
}
.air-window.visible {
  opacity: 1;
  /* visibility: visible; */
  transform: translateY(0);
}
.hidden {
  opacity: 0;
  visibility: hidden;
}


.or-v{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96%;
}
