


.air-circle{
  background-color: rgb(220, 220, 220);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  top: 90vh;
  right: 5vw;
  z-index: 1000;
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/free-top-arrow-icon-download-in-svg-png-gif-file-formats--up-upward-direction-and-arrows-vol-3-flat-pack-sign-symbols-icons-1112324.png);
  background-position: center;
  background-size: 80%;
  border: black solid 3px;
}






.air-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-100px);
  transition: 0.5s;
}

.air-circle.visible {
  opacity: 1;
  transform: translateY(0);
}

.air-circle a {
  width: 100%;
  height: 100%;
}
.air-circle:hover{
  background-color: rgb(0, 0, 0);
  border: white solid 3px;
}