

.air-rate{
  background-color: #316a6f;
  width: 150px;
  height: 30px;
  position: fixed;
  z-index: 1000000000;
  top: 45%;
  right: -60px;
  transform: rotate(90deg);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.air-rate h2{
  color: #ffffff;
  font-size: 17px;
}



.popup2{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  z-index: 1000;
  opacity: 0;
  /* transform: scale(0.9); */
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #002d30af;
  /* border-radius: 20px; */
  backdrop-filter: blur(10px);
}
.popup2.show{
  opacity: 1;
  transform: scale(1);
}
.pc2-popup{
  background-color: #00000089;
  width: 100%;
  min-height: 280px;
  max-width: 400px;
  border-radius: 20px;
  border: #007188 solid 6px;
  background-image: url(https://images.pexels.com/photos/7693246/pexels-photo-7693246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
}
.popup2 .form-div{
  width: 400px;
  height: max-content;
  /* background-color: #000000; */
}
.popup2 .form-div .sipo{
  padding-right: 0px;
}
.popup2 .form-div #message{
  border-radius: 10px;
}
.popup2 .form-div #message::placeholder{
  text-align: center;
}
.popup2 .form-div button{
  font-size: 20px;
  height: 40px;
}
.popup-content2 {
  background-color: #00000089;
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  /* backdrop-filter: blur(10px); */
  min-height: 280px;
  max-width: 400px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: #00000000 solid 6px;
  border-left: #ffffff solid 6px;
}
#directMessageForm2{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #000; */
}
.popup-content2 h2{
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
}

textarea {
  width: 100%;
  /* margin: 10px 0; */
  padding: 10px;
  font-size: 14px;
  resize: none;

  outline: none;
  border: none;
  border-left:  #0c809a solid 8px;
  border-radius: 7px;
  background-color: #eeeeee;

}
textarea::placeholder{
  color: #434343;
}

button {
  border: none;
  /* border-right: #000000 solid 200px;
  border-left: #000000 solid 8px; */
  background: #0c809a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  /* width: 100%; */
}

button:hover {
  background: #000000;
}
#email-v2{
  outline: none;
  border: none;
  border-left: #0c809a solid 8px;
  border-radius: 7px;
  padding: 10px;
  width: 300px;
  background-color: #eeeeee;
}
#email-v2::placeholder{
  color: #434343;
}

.close2{
  background-color: #ff000060;
  color: #ffffff;
  /* border: #009dff00 solid 5px; */
  /* border-bottom: #ff0000 solid 5px; */
  /* border: none; */
  border: #000000 solid 3px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  position: absolute;
  top: 70vh;
  right: -67px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  width: 150px;
  height: 40px;
  transform: rotate(90deg);
  text-align: center;
}
.close2 span{
  font-size: 20px;
}
.close2:hover{
  border-bottom: #000000 solid 3.5px;
  color: #000;
}
@media (max-width:1000px) {
  .popup2{
    padding-left: 0vw;
    padding-right: 0vw;
    padding-bottom: 20vh;
  }
  .air-rate{
    display: none;
  }
  /* .close2{
    top: 90vh;
  } */
}