


.air-circle{
  /* background-color: rgb(220, 220, 220); */
  width: 40px;
  height: 40px;
  /* border-radius: 100px; */
  padding: 10px;
  position: fixed;
  top: 90vh;
  right: 30px;
  z-index: 1000;
  background-image: url(https://cdn-icons-png.freepik.com/256/8625/8625341.png?uid=R160725661&ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* border: #006990 solid 3px; */
}






.air-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-100px);
  transition: 0.5s;
}

.air-circle.visible {
  opacity: 1;
  transform: translateY(0);
}

.air-circle a {
  width: 100%;
  height: 100%;
}