*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    scrollbar-width: none;
}

:root{
    /* day mode */
    
    --day_B_color_1: #E5F3F8;
    --day_color_1: #006966; 
    --day_color_2: #000000;
    --day_color_3: #000000ae;
    
    
    /* nite mode */
    
    --night_B_color_1: #172022;
    --night_color_1: #008d88;
    --night_color_2: #d2d2d2;
    --night_color_3: #e1e1e1ae;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--day_color_3);
}
#video{
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: 2s;
}
.cover{
    background-color:  #e5f3f8bb;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--day_color_3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* width: 80vw; */
    width: 0vw;
    opacity: 0;
    min-height: 70vh;
    background-color: #f1f1f1;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: rgba(0, 47, 51, 0.364) 0px 0px 10px 0px;
    overflow: hidden;
    transition: 2s;
}
.taps{
    min-width: 400px;
    height: 400px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.taps .photo{
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 500px;
    padding: 5px;
    background-color: rgba(21, 126, 97, 0.427);
    /* border: rgb(29, 132, 131) solid 5px; */
    border: rgb(29, 132, 131) solid 5px;
}
.taps .photo .pin{
    /* background-image: url(https://assets.safcsp.cloud/a8043c3e-a7f5-402b-9917-58444c147689/avatar/70dab895-551d-4215-b620-7d209a787bc4.png); */
    background-image: url(../images/me-edited-bnn.png);
    background-position: 43% 100%;
    background-size: 160%;
    background-repeat: no-repeat;
    border-radius: 250px 30px 250px 250px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.air-border{
    position: absolute;
    width: 325px;
    height: 325px;
    border-radius: 130px;
    padding: 5px;
    border: rgb(29, 132, 131) double 10px;
    animation: air-b 7s infinite linear;
}
@keyframes air-b {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo{
    min-width: 300px;
    /* position: fixed;
    top: 30px;
    left: 50px; */
    /* display: none; */
    display: flex;
    gap: 20px;
}
.me{
    width: 80px;
    height: 80px;
    border-radius: 150px;
    border: #00748e solid 3px;
    background-image: url(../images/me-edited-b.png);
    background-position: 43% 80%;
    background-size: 160%;
}
.logo h2{
    color: var(--day_color_1);
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.logo h2 .aa{
    border: #b4121200 solid 3px;
    border-bottom: var(--day_color_2) solid 3px;
    border-radius: 100px;
    color: var(--day_color_2);
}
.logo h2 spana{
    position: relative;
    left: -50px;
    top: 20px;
    font-size: 13px;
    font-weight: 700;
    color: var(--day_color_3);
}




































.main .info,.form{
    width: 50%;
    min-width: 400px;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 50px;
    padding-top: 5vh;
}
.main .info{
    border-radius: 0px;
}
.info h1{
    width: 80%;
    margin-bottom: 60px;
    color: var(--day_color_1);
}
.info p{
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    border: #00000000 solid 10px;
    /* border-top: #006966a7 solid 5px; */
    /* border-bottom: #006966a7 solid 5px; */
    /* background-color: var(--day_B_color_1); */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 20px;
}
.media{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    /* width: 400px; */
    margin-top: 30px;
}
.media a{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}
.media a h2{
    font-size: 15px;
    font-weight: 650;
    padding: 5px 20px 5px 15px;
    background-color: #d5dbded5;
    border-radius: 10px;
    width: 100%;
}
.media a i{
    font-size: 30px;
    color: var(--day_color_1);
}
.form{
    background-color: var(--day_color_1);
    color: var(--day_B_color_1);
}
.form h1{
    font-size: 25px;
}
.form form{
    width: 65%;
    min-width: 400px;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.form form label{
    width: 345px;
    /* height: 25px; */
}
.form form input{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    background-color: #F8FCFD;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}
.form form input::placeholder{
    /* color: #000000a4; */
    /* font-weight: 650; */
    font-size: 15px;
}
.form form textarea{
    width: 350px;
    min-height: 140px;
    border-radius: 15px;
    background-color: #F8FCFD;
    border: none;
    padding-left: 20px;
    font-size: 16px;
}
.form form textarea::placeholder{
    /* color: #000000a4; */
    font-weight: 650;
    text-align: center;
    padding-top: 20px;
}
.send{
    width: 350px;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5px;
}
.send .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 20px 5px 5px;
    background-color: #F8FCFD;
    color: #000000aa;
    border-radius: 100px;
}
.send .btn i{
    background-color: #008d88;
    color: var(--day_B_color_1);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-top: 2px;
}
.send .btn .txt{
    font-weight: 650;
}












/* responsive screens */
/* responsive screens */
/* responsive screens */
/* responsive screens */
/* responsive screens */
/* responsive screens */


@media (max-width:1200px) {
    .main{
        width: 100vw;
    }
}