


#contact-home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #486975;
}
#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ea8af7e;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 204, 255, 0.482), rgba(136, 136, 136, 0));
  width: 100%;
  min-height: 100vh;
}
.contact-c{
  /* background-color: rgba(0, 0, 0, 0.178); */
  width: 80vw;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-c .left,.right{
  width: 400px;
  height: 500px;
  /* background-color: #0000007d; */
  border-radius: 20px;
  padding: 20px;
}
#contact .email,.location{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  /* background-color: #1d8289; */
  margin-top: 10px;
}
#contact .left i{
  font-size: 20px;
}
#contact .left h1{
  font-weight: 600;
}
#contact .hr{
  height: 300px;
  margin-left: 0.7%;
  margin-right: 0.7%;
  border: black solid 2px;
}
#contact .media-contact{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
#contact .media-contact a i{
  font-size: 30px;
  transition: 0.5s;
}
#contact .media-contact a i:hover{
  /* color: #ffffff; */
  background-color: #000000;
}
#contact .right .imgbn{
  /* background-image: url(https://img.freepik.com/premium-photo/computer-programmer-icon-white-background-ar-32-v-52-job-id-16481ff812194d37833d88603725b2d4_941600-89823.jpg); */
  /* background-image: url(https://i.gifer.com/5eKX.gif); */
  /* background-image: url(https://i.gifer.com/Ry6p.gif); */
  background-image: url(https://camo.githubusercontent.com/130ffc354b6ee3c8c9e506276e598bf4e19ea7950df203dacf6aeee4fc543a50/68747470733a2f2f616e616c7974696373696e6469616d61672e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031382f31322f646576656c6f7065722d6472696262626c652e676966);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  opacity: 80%;
}
#contact .or{
  /* background-color: #6c07073a; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
}
#contact .or span a{
  text-decoration: none;
  color: #005b56;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  padding: 15px;
  border: #005b56 solid 3px;
  border-radius: 15px;
  margin-left: 10px;
  transition: 0.5s;
  animation: or-v 2s linear infinite;
}
@keyframes or-v {
  0% {
    /* opacity: 1; */
  }
  50% {
    /* opacity: 0; */
    background-color: #000;
    color: #ffffff;
    border: #ffffff solid 3px;
  }
  100% {
    /* opacity: 1; */
  }
}
#contact .or span a:hover{
  background-color: #000;
  color: #ffffff;
  border: #ffffff solid 3px;
}
#contact .air-div{
  /* background-color: #005b564e; */
  width: 200px;
  height: 500px;
  transform: rotate(50deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
}
#contact .air-icon{
  width: 100px;
  height: 5px;
  background-color: #ffffff;
  /* border: #ffffff solid 3px; */
  border-radius: 100px;
  box-shadow: #fff700 0px 0px 20px 0px;
  animation: air-icon 10s linear infinite;
}
@keyframes air-icon {
  0% {
      transform: translateY(-500px);
  }
  50% {
      transform: translateY(300px);
  }
  100% {
      transform: translateY(-500px);
  }
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup.show {
  opacity: 1;
  transform: scale(1);
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  min-height: 280px;
  max-width: 400px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#directMessageForm{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #000; */
}
.popup-content h2{
  margin-bottom: 20px;
  /* background-color: #4b1818; */
  text-align: left;
  font-size: 20px;
}

textarea {
  width: 100%;
  /* margin: 10px 0; */
  padding: 10px;
  font-size: 14px;
  resize: none;

  outline: none;
  border: none;
  border-left: #009dff86 solid 3px;
  /* border-radius: 10px; */
  background-color: #eeeeee;

}

button {
  background: #00a4c9f0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #004742;
}
#email-v{
  outline: none;
  border: none;
  border-left: #009dff86 solid 3px;
  /* border-radius: 10px; */
  padding: 10px;
  width: 300px;
  background-color: #eeeeee;
}

.close{
  background-color: #eeeeee;
  color: #ffffff;
  padding: 0px 8px 5px 8px;
  border: #009dff00 solid 3px;
  border-radius: 7px;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #747474;
  transition: 0.5s;
}
.close:hover{
  background-color: #00000000;
  color: #000000;
  border: #009dff86 solid 3px;
}
#wap,#fb,#ldn,#gh{
  background-color: #ffffff;
  padding: 0px; 
  border-radius: 100px; 
  width: 40px;
  height: 40px;
  display: flex; 
  align-items: center;
  justify-content: center;
}
#fb{
  color: #0080ff;
}
#fb:hover{
  color: #ffffff;
}
#wap{
  color: #00b44b;
}
#wap:hover{
  color: #ffffff;
}
#ldn{
  color: #0067c7;
}
#ldn:hover{
  color: #ffffff;
}
#gh{
  color: #000;
}
#gh:hover{
  color: #ffffff;
}
@media (max-width:1000px) {
  #contact{
    padding-top: 10vh;
  }
  #contact .hr{
    display: none;
  }
  #contact .or span a{
    text-decoration: none;
    color: #005b56;
    width: 100%;
    height: 100%;
    font-weight: 800;
    padding: 8px;
    border: #005b56 solid 3px;
    border-radius: 15px;
    margin-left: 10px;
    transition: 0.5s;
  }
  .popup-content {
    height: max-content;
    width: max-content;
  }
  .close{
    background-color: #eeeeee00;
    top: 0px;
    font-size: 35px;
    color: #747474;
  }
  .close:hover{
    color: #ff0000;
    border: #009dff00 solid 3px;
  }
}
