#skills-exp{
  /* background-color: #000000; */
  width: 100vw;
  height: max-content;
}
.skills-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.skills-exp-c{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-div .skills{
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0vw 5vh 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.info-skills{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.info-skills-v{
  width: 77%;
  min-height: 80vh;
  /* background-color: #008e9043; */
  /* border-radius: 20px; */
  border-left: #008e90 solid 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.info-skills-v .course{
  /* background-color: #000000; */
  width: 400px;
  height: 300px;
}
.info-skills-v .certificate{
  /* background-color: #000000; */
  width: 400px;
  height: 300px;
}
.c-c-title{
  background-color: #00676c;
  color: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
}
.c-content{
  width: 400px;
  height: 80%;
  /* background-color: #ff000099; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.course-card{
  background-color: #57818c32;
  border-left: #000000 solid 10px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.course-card h2{
  width: 100%;
  /* background-color: #9e4949; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 550;
}
.course-card h2 span{
  font-size: 18px;
  font-weight: 550;
}
.course-card a{
  color: #0099bb;
}
.cer-content{
  /* background-color: #000000; */
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.cer-card{
  background-color: #00676C;
  width: 190px;
  height: 140px;
  border-radius: 10px;
  padding: 5px;
}
.cer-card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
































.spider-skills{
  width: 50%;
  min-height: 80vh;
  border-radius: 30px 0px 0px 30px;
  /* border: #008e90 solid 4px; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* flex-wrap: wrap; */
  flex-direction: column;
  overflow: hidden;
  /* background-color: #980f0f; */
}
.spider-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.spider-title{
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #ffffff solid 3px;
  /* background: linear-gradient(to top,#008e90b0, #43a4ab00 70%); */
  animation: spider 10s linear infinite;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.spider-title h2{
  font-weight: 600;
}
@keyframes spider {
  0% {
    box-shadow: #008e90ac 0px 0px 20px 0px inset;
  }
  25% {
    box-shadow: #008e90b0 0px -25px 20px 0px inset;
  }
  50% {
    box-shadow: #008e90b0 0px -60px 20px 0px inset;
  }
  90% {
    box-shadow: #008e90b0 0px -60px 20px 0px inset;
  }
  100% {
    box-shadow: #008e90ae 0px 0px 20px 0px inset;
  }
}


.top-spider{
  /* background-color: #ab2525; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-spider div{
  /* background-color: #00676c; */
  width: 200px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
}
.top-spider hr{
  /* background-color: #000000; */
  min-width: 5px;
  animation: spider-top 10s linear infinite;
}
@keyframes spider-top {
  0% {
    box-shadow: #008e90ac 0px 0px 2px 0px inset;
  }
  25% {
    box-shadow: #008e90b0 0px -100px 2px 0px inset;
  }
  50% {
    box-shadow: #008e90b0 0px -200px 2px 0px inset;
  }
  90% {
    box-shadow: #008e90b0 0px -200px 2px 0px inset;
  }
  100% {
    box-shadow: #008e90ae 0px 0px 2px 0px inset;
  }
}
.hr4-1{
  border: none;
  height: 5px;
  width: 50px;
  position: relative;
  top: 40px;
  left: 10px;
  border-radius: 10px 0px 0px 10px;
}
.hr4-2{
  border: none;
  height: 150px;
  width: 5px;
  position: relative;
  top: 40px;
  left: 10px;
  border-radius: 10px 10px 10px 0px;
}
.ts-4 .imk{
  position: relative;
  top: -120px;
  left: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: #000000; */
}
.imk img{
  width: 40px;
  height: 40px;
  background-color: #000000;
  /* padding: 5px; */
  border-radius: 5px;
}
.imk-3{
  position: relative;
  top: -120px;
  left: -160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: #000000; */
}
.imk-3 img{
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}
.imk-2{
  position: relative;
  top: -20px;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: #000000; */
}
.imk-2 img{
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}
.hr3-1{
  border: none;
  height: 5px;
  width: 50px;
  position: relative;
  top: -100px;
  border-radius: 10px 0px 0px 10px;

}
.hr3-2{
  border: none;
  height: 150px;
  width: 5px;
  position: relative;
  top: -100px;
  border-radius: 0px 10px 10px 10px;
}
.hr2-1{
  border: none;
  height: 5px;
  width: 50px;
  position: relative;
  left: -50px;
  border-radius: 10px 0px 0px 10px;

}
.hr2-2{
  border: none;
  height: 50px;
  width: 5px;
  position: relative;
  left: -50px;
  border-radius: 0px 10px 10px 10px;

}
.spider-info-card{
  /* background-color: #000000; */
  width: 400px;
  min-height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  border-left: #000000 solid 4px;
  background: linear-gradient(to right,#3DA5A7, #1d676882,#1d676836);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 5px; */
}
.spider-list{
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  /* background-color: #000000; */
  width: 150px;
  height: 80%;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 23px;
}


.exp-cover{
  background-color: #00000079;
  /* padding: 15px; */
  position: absolute;
  z-index: 1;
}
.exp-video{
  position: absolute;
  z-index: 0;
}
.exper-div{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/31010728/pexels-photo-31010728/free-photo-of-tranquil-coastal-scene-with-rocky-shoreline.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  /* background-image: url(https://images.pexels.com/photos/4159867/pexels-photo-4159867.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.exp-video{
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 112vh;
}
.exper-content{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* background: linear-gradient(to bottom,#43a4abb6, #43a4ab1c 10%); */
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.title-exper{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #157278; */
}
.title-exper h2{
  font-size: 50px;
  color: #ffffff;
}
.info-line{
  /* background-color: #157278; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  color: #ffffff;
  display: none;
}
.work{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 80px;
  /* background-color: #0c474b; */
  /* margin-top: 100px; */
  width: 65%;
  min-height: 50vh;
  /* padding: 30px; */
  padding-bottom: 100px;
  border-radius: 20px;

}
.work-info{
  height: 175px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@keyframes color2 {
  0% {
    box-shadow: #000000b7 0px 0px 0px 0px inset;
  }
  25% {
    box-shadow: #000000b9 0px -300px 0px 0px inset;
  }
  50% {
    box-shadow: #000000c2 0px -1000px 0px 0px inset;
  }
  75% {
    box-shadow: #000000bc 0px -300px 0px 0px inset;
  }
  100% {
    box-shadow: #000000b5 0px 0px 0px 0px inset;
  }
}
.cover-map-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 250px;
}
.work-img{
  /* background-image: url(https://freepnglogo.com/images/all_img/1706198346fiverr-logo-transparent.png); */
  /* background-image: url(https://freelogopng.com/images/all_img/1656739257fiverr-logo-transparent.png); */
  background-image: url(https://i0.wp.com/2bonline.net/wp-content/uploads/2022/06/freelancer-logo-open-graph-1.webp?fit=1020%2C536&ssl=1);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 180px;
  min-width: 180px;
  height: 175px;
  border-radius: 20px;
  background-color: #ffffff;
}
.back-img{
  width: 50px;
  height: 40px;
  background-image: url(https://i0.wp.com/2bonline.net/wp-content/uploads/2022/06/freelancer-logo-open-graph-1.webp?fit=1020%2C536&ssl=1);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 10px;
}
.work-map{
  width: 50px;
  min-width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 65px;
  /* background-color: #00ffa6; */
}
.work-map .circle{
  background-color: #00d9ff;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 10px;
}
.work-map .line{
  height: 100%;
  width: 10px;
  background-color: #ffffff;
  border: none;
}
.work-card{
  background-color: #ffffff00;
  width: 100%;
  max-width: 500px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.date{
  /* background-color: #982222; */
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.date h2{
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 600;
}
.date span{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000000; */
  margin-left: 20px;
  margin-right: 20px;
}
.line-date{
  width: 50px;
  height: 5px;
  background-color:  #15868e;
  border: none;
  border-radius: 5px;
}
.work-location{
  background-color: #00676c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.work-location h2{
  /* background-color: #452c2c; */
  width: 100%;
  text-align: left;
}
.work-location h3{
  /* background-color: #000000; */
  width: 100%;
  text-align: right;
}
.work-location h3 span{
  background-color: #000000;
  border-radius: 10px;
}
.description{
  /* background-color: #272727; */
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #ffffff;
  /* text-align: center; */
}
#w-i2{
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/3f7d19103644029.Y3JvcCw5MDksNzExLDI0LDA.jpg);
  background-size: cover;
}
#w-i3{
  background-image: url(https://ictbusiness.org/wp-content/uploads/2018/06/%D9%84%D9%88%D8%AC%D9%88-%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D9%83%D8%AA.jpg);
  /* background-size: cover; */
}
#span-year{
  font-size: 20px;
}
@media (max-width:1090px) {
  .skills-exp-c{
    padding: 0px 5vw 0px 5vw;
  }
  .title-exper h2{
    font-size: 35px;
  }
  .exper-content{
    background: linear-gradient(to bottom,#43a4abbc, #43a4ab1c 10%);
  }
  #skill-card .list li{
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: left;
    /* background-color: #00676c; */
  }
  .item-b{
    width: 30px;
    height: 30px;
  }





  .work-map{
    width: 30px;
  }
  .work{
    gap: 50px;
    padding: 0px;
  }
  .work-info{
    height: max-content;
    padding-right: 10px;
  }
  .cover-map-card{
    width: 400px;
  }
  .skills-exp-c{
    padding: 0px;
  }
  .work-card{
    background-color: #ffffff00;
    width: 100%;
    max-width: 350px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  .date h2{
    font-size: 17px;
  }
  .date span{
    margin-left: 10px;
    margin-right: 10px;
  }
  .line-date{
    width: 30px;
  }
  .work-location{
    font-size: 13px;
  }
  .work-img{
    display: none;
  }
}
@media (max-width:1150px) {
  .info-skills{
    width: 100%;
    justify-content: center;
  }
  .info-skills-v{
    border: none;
    min-height: 100vh;
  }
  .spider-skills{
    width: 100%;
  }
  .top-spider .ts-4{
    width: 150px;
  }
  .info-skills-v .course{
    height: max-content;
  }
  .info-skills-v .certificate{
    height: max-content;
  }
  .course-card h2{
    height: 35px;
  }
  .cer-content{
    min-height: 200px;
  }
}
@media (max-width:500px) {
  .top-spider .ts-4 .hr4-1{
    animation: spider-ton 10s linear infinite;
  }
  .top-spider .imk-2{
    display: block;
  }
  .spider-div{
    margin-left: 50px;
  }
}



















































































































































































































































































/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */
/* new design */











/* skills */
/* skills */
/* skills */
/* skills */
/* skills */








.skill-div-mom{
  width: 80%;
  height: 100vh;
  border-radius: 20px;
  background: linear-gradient(20deg , #6FB6BB,#6FB6BB,#6FB6BB,#6FB6BB,#6FB6BB , #C6D9DA , #C6D9DA, #C6D9DA, #C6D9DA, #C6D9DA);
  /* box-shadow: #00000077 0px 0px 40px 0px; */
  /* display: none; */
}
.fr-slash{
  color: #00bdaa;
  font-weight: 900;
}
.sdm-title{
  /* background-color: #000000; */
  width: 100%;
  height: 50px;
  color: #267981;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  font-size: 30px;
}
.sdm-title hr{
  border: #77A8AC solid 3px;
  width: 150px;
}
.skills-images{
  width: 100%;
  height: 150px;
  /* padding: 40px; */
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.skills-images img{
  width: 60px;
}
.info-sdm{
  width: 100%;
  min-height: 400px;
  /* background-color: #000000ac; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 30px;
  margin-top: 80px;
}
.info-sdm .courses-cards,.certificates-cards{
  /* background-color: #0000004b; */
  border-radius: 20px;
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.cc-title{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #ffffff;
}
.cc-title h2{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}
.cc-title hr{
  border: #ffffff solid 2px;
  width: 60px;
}
.cc-card{
  width: 100%;
  height: 110px;
  background-color: #0000008a;
  border-top: #007188 solid 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #FBFCFC;
  padding: 10px;
  border-radius: 10px;
  /* border: #ff000000 solid 16px;
  border-bottom: #00a6ff solid 16px; */
}
.locationv{
  color: #d8d8d8;
  font-weight: 600;
  width: 100%;
  /* text-align: center; */
  border-radius: 8px;
  /* background-color: #d8d8d8; */
  background-color: #007188;
  padding: 2px;
  padding-left: 10px;
}
.c2-card{
  width: 100%;
  height: 110px;
  /* background-color: #003e42a2; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 5px;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  /* border: #ff000000 solid 16px;
  border-bottom: #00a6ff solid 16px; */
}
.lokb{
  /* background-color: #000000; */
}
.c2-card h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}
.c2-card img{
  width: 120px;
  border-radius: 10px;
}
@media (max-width:1080px) {
  

.skill-div-mom{
  width: 90%;
  /* height: 100vh;
  border-radius: 20px;
  background: linear-gradient(20deg , #6FB6BB,#6FB6BB,#6FB6BB,#6FB6BB,#6FB6BB , #C6D9DA , #C6D9DA, #C6D9DA, #C6D9DA, #C6D9DA);
  box-shadow: #00000077 0px 0px 40px 0px; */
}

}








































































/* experience */
/* experience */
/* experience */
/* experience */
/* experience */
/* experience */



.experience{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exp-line{
  background-color: #6FB6BB;
  width: 80%;
  min-height: 600px;
  border-radius: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* padding-top: 7vh; */
  margin-top: 7vh;
  /* overflow: hidden; */
}
.exp-line-title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 80px;
  /* background-color: #000000; */
  color: #eaeaea;
}
.exp-line-title h2{
  width: max-content;
  font-size: 40px;
  width: 280px;
  text-align: center;
}
.exp-line-title hr{
  width: 100px;
  border: #ffffff solid 2px;
}
.exp-line-ani{
  width: 600px;
  min-height: 400px;
  /* background-color: #005358c3;
  backdrop-filter: blur(10px); */
  border-radius: 20px;
  /* box-shadow: #00000066 10px 10px 10px 0px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.exp-line-vid{
  width: 400px;
  height: 306px;
  background-color: #D6DFDE;
  border-radius: 30px;
  box-shadow: #00000066 10px 10px 10px 0px;
  overflow: hidden;
  /* background-color: #000000; */
  margin-top: 7px;
}
.exp-video-l{
  width: 400px;
  height: 440px;
  position: relative;
  top: -80px;
  transform: rotate(20deg);
}
.ela-in{
  min-width: max-content;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-left: 700px;
  gap: 100px;
  transition: 0.5s;
}
.ela{
  width: 600px;
  height: 100%;
  /* background-color: #000000; */
  /* border-bottom: #D5DFDE solid 20px; */
  color: #ffffff;
}
.ela .topv,.bottomv{
  width: 100%;
}
.ela .topv{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}
.ela .img-vq{
  /* background-color: #6FB6BB; */
  width: 200px;
  min-height: 100px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
  border-radius: 0px 30px 0px 0px;
}
.ela .img-vq .img-com{
  width: 180px;
  height: 180px;
  background-color: #dddddd;
  border-radius: 20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b4/FL_LOGO-REDUCTION.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}
.ela .img-vq .img-com2{
  width: 180px;
  height: 180px;
  background-color: #dddddd;
  border-radius: 20px;
  background-position: center;
  background-image: url(https://yt3.googleusercontent.com/2Hr86NTFcknkNTn0h2UlG7r2LdoaxcAbaob6dWvFNUdmvUCwlcFsDSykn5bxyKQwFgHnma1hKtY=s900-c-k-c0x00ffffff-no-rj);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
}
.ela .img-vq .img-com2 h2{
  /* background-color: #000000ac; */
  /* color: #acedff; */
  color: #ffffff;
  border-bottom: #ffffff solid 10px;
  /* border-radius: 5px; */
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  animation: cvb 2s infinite linear;
}
.ela .img-vq .img-com h2{
  /* background-color: #000000ac; */
  /* color: #acedff; */
  color: #1b3f33;
  border-bottom: #246366 solid 10px;
  /* border-radius: 5px; */
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  animation: cvb 2s infinite linear;
}
@keyframes cvb {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.info-cardm{
  width: 400px;
}
.num{
  width: 98%;
  height: max-content;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  /* padding-left: 30px; */
  /* background-color: #002b30cd;  */
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding: 0px 5px 0px 5px;
}
.num span{
  min-width: 30px;
  height: 30px;
  /* background-color: #002d21; */
  color: #83d1ff;
  /* border: #00a2ff00 solid 3px;
  border-top: #00a2ff solid 3px;
  border-bottom: #00a2ff solid 3px; */
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.num .span{
  min-width: 30px;
  height: 30px;
  /* background-color: #000000; */
  /* color: #00a2ff; */
  border: #00a2ff00 solid 3px;
  border-top: #ffffff solid 3px;
  border-bottom: #ffffff solid 3px;
  /* font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 50px;
  position: absolute;
  animation: bnm 5s infinite linear;
}
@keyframes bnm {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.num .span2{
  min-width: max-content;
}
.num hr{
  width: 100%;
  border: #00a2ff solid 2px;
}
.date-time-m{
  width: 98%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #246366;
  /* margin-top: 20px; */
  padding: 0px 20px 0px 20px;
  border: #ffffff00 solid 8px;
  border-left: #ffffff solid 8px;
  border-right: #ffffff solid 8px;
  /* background-color: #000000a5; */
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.718) , rgba(0, 0, 0, 0)); */

  border-radius: 15px;
  color: #ffffff;
  /* color: #ffffff; */
}
.date-time-m span{
  /* font-weight: 650; */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.date-time-m img{
  width: 40px;
  margin-right: 5px;
  background-color: #ffffff;
  padding: 1px;
  border-radius: 7px;
}
.date-time{
  width: 98%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #002b30cd;
  /* margin-top: 20px; */
  padding: 0px 20px 0px 20px;
  border: #ffffff00 solid 8px;
  border-left: #ffffff solid 8px;
  border-right: #ffffff solid 8px;
  /* background-color: #000000a5; */
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.718) , rgba(0, 0, 0, 0)); */

  border-radius: 15px;
  color: #00bc7d;
  /* color: #ffffff; */
}
.date-time span{
  font-weight: 650;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.date-time hr{
  border: rgb(255, 255, 255) solid 2px;
  width: 40px;
}
.date-time img{
  width: 40px;
  margin-right: 5px;
  background-color: #ffffff;
  padding: 1px;
  border-radius: 7px;
}
.work-job{
  width: 98%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 15px;
  padding-left: 10px;
}
.work-job img{
  width: 40px;
  margin-right: 5px;
  background-color: #000000;
  padding: 3px;
  border-radius: 7px;
}
.info-textd{
  width: 98%;
  min-height: 60px;
  line-height: 1.3;
  display: flex;
  align-items: start;
  justify-content: left;
  padding: 0px 10px 0px 10px;
  color: #ffffff;
  /* border: #ffffff00 solid 8px;
  border-left: #ffffff solid 8px;
  border-right: #ffffff solid 8px; */
  border-radius: 20px;
  /* background-color: #00000083; */
  font-size: 15px;
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.699) , rgba(0, 0, 0, 0)); */
}
.ela .topv{
  /* background-color: #006f4a; */
  /* background-color: #00472f; */
  background-color: #246366;
  min-height: 220px;
  border-radius: 20px;
  padding-bottom: 10px;
}
.ela .bottomv{
  /* background-color: #2e7537; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0px 40px 0px 40px; */
}
.vbnmjh{
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  /* background-color: #005A3C; */
  padding: 10px;
  border-radius: 10px;
  /* margin-top: 10px;
  position: absolute; */
}
.vbnmjh span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #ffffffb5;
  /* backdrop-filter: blur(10px); */
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}
.vbnmjh hr{
  width: 30px;
  border: #ffffff solid 2px;
}
.vbnmjh h4{
  font-weight: 700;
}
.vbnmjh .njm{
  border-radius: 80px;
  border: #ffffff00 solid 3px;
  border-left: #ffffff solid 3px;
  border-right: #ffffff solid 3px;
  background-color: #000000b5;
  color: #ffffff;
  /* background-color: #005e56; */
}
.ela .img-vq .img-com-v{
  display: none;
}
@media (max-width:720px){
  .exp-line-ani{
    width: 400px;
    gap: 0px;
  }
  .ela{
    width: 400px;
  }
  .ela-in{
    width: 400px;
    max-width: 400px;
    padding-left: 500px;
    position: relative;
  }
  .ela .img-vq{
    width: 100%;
    height: 180px;
    margin-top: 20px;
    padding-top: 0px;
    gap: 10px;
    /* height: 100%; */
    /* background-color: #000000; */
  }
  .ela .img-vq .img-com{
    width: 50%;
    height: 100%;
    background-size: 80%;
    border: #00a2b4 solid 2px;
  }
  #img-h{
    width: 50%;
    height: 100%;
    /* background-size: 90%; */
    display: flex;
    border: #ffffff solid 2px;
    border-radius: 20px;
  }
  .img-com-v{
    /* background-image: url(../Images/image\ \(1\).png); */
    /* background-color: #0099aa; */
    background-image: url(https://images.pexels.com/photos/30723618/pexels-photo-30723618/free-photo-of-woman-in-traditional-vietnamese-dress-with-conical-hat.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-color: #E3E7ED;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 115%;

  }
  .img-com-v2{
    /* background-image: url(../Images/image\ \(1\).png); */
    background-color: #00a2b4;
    background-image: url(https://images.pexels.com/photos/5520284/pexels-photo-5520284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    /* background-image: url(https://images.pexels.com/photos/31045891/pexels-photo-31045891/free-photo-of-elegant-portrait-of-a-woman-with-wet-look.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load); */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .ela .img-vq .img-com2{
    width: 100%;
    height: 100%;
    background-size: 40%;
  }
  .ela .topv{
    background-color: #00000000;
  }
  .info-cardm{
    /* background-color: #00472f; */
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px 5px 5px 10px;
    background-color: #246366;

  }
}
@media (max-width:1290px) {
  .exp-line{
    background-color: #6FB6BB;
    width: 100%;
    border-radius: 0px;
    flex-wrap: wrap;
    padding: 10vh 0px 50px 0px;
}

.exp-line-title{
  overflow: hidden;
  padding-top: 0px;
  gap: 5px;
  margin-bottom: 30px;
}
.exp-line-title h2{
  font-size: 34px;
  width: 230px;
}
.exp-line-title hr{
  width: 80px;
}
}