






#footer{
  width: 100vw;
  background-color: black;
  background-image: url(https://images.pexels.com/photos/30836161/pexels-photo-30836161/free-photo-of-modern-mechanical-keyboard-on-felt-desk-mat.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.in-footer{
  width: 100%;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 10px;
  color: #ffffff;
  padding: 10px;
  /* background-color: #ffffff; */
  background-color: #1d2f36c6;

}