#header{
  position: fixed;
  top: 0px;
  z-index: 1002;
  width: 100vw;
  height: 65px;
  /* background-color: rgba(7, 122, 78, 0.816); */
  background-color: #008993a9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10vw 0px 10vw;
}
#header .hd-1{
  display: flex;
  align-items: center;
  justify-content: left;
  color: #ffffff;
}
#header .hd-1 span{
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #00656c;
  font-weight: 700;
}
#header .hd-2{
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  gap: 40px;
  font-size: 17px;
}
.hd-1 ,.hd-2{
  width: 50%;
  height: 100%;
}
#header .hd-1 a{
  color: #ffffff;
  text-decoration: none;
}
#header .hd-2 a{
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
#header .hd-2 a:hover{
  color: #f0f0f0;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width:1000px) {
  #header{
    justify-content: left;
    padding: 0px 5vw 0px 5vw;
  }
  #header .hd-1{
    display: flex;
    align-items: center;
    justify-content: left;
    color: #ffffff;
    /* background-color: #00ffc8; */
    width: max-content;
  }
  #header .hd-1 span{
    font-weight: 600;
  }
  #header .hd-2{
    display: none;
  }
}