#home{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #000000; */
  background-color: #4ea8af35;
  background-image: url();
  background-position: center;
  background-size: cover;
}
a{
  text-decoration: none;
}
#home .info{
  width: 50%;
  /* max-width: 700px; */
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vw;
  padding-bottom: 20px;
  gap: 20px;
  overflow: hidden;
}
#home .info p{
  max-width: 500px;
  font-size: 16px;
  font-weight: 600;
}
#home .photo{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#home .photo img{
  border-radius: 200px;
  width: 350px;
  margin-right: 90px;
}
#home .photo .img-i1{
  border-radius: 400px;
  width: 370px;
  height: 370px;
  margin-right: 90px;
  /* background-image: url(../images/My-photo-img.jpg); */
  /* background-image: url(https://img.freepik.com/premium-photo/computer-programmer-icon-white-background-ar-32-v-52-job-id-16481ff812194d37833d88603725b2d4_941600-89823.jpg); */
  background-image: url(../Images/1000023989.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-top: #008993 solid 8px;
  border-bottom: #008993 solid 8px; */
  border:  #008993  double 10px;
  transform: rotate(2deg);

}
.media{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.media .icons {
  width: 35px;
  height: 35px;
  border-radius: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color:  #ffffff;
  background-color: #0a828d78;
  transition: 0.4s;
  border: #0a828d solid 2px;
}
.media .icons:hover{
  background-color: #00737b7c;
  color: #ffffff;
  border: #ffffff solid 2px;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hire{
  padding-left: 35px; 
  padding-right: 35px; 
  box-shadow: #00757e 0px 0px 20px 1px; 
  font-weight: 700; 
  font-size: 20px;
  transition: 0.4s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 130px;
  background-color: #008993ad;
  border: #008993a9 solid 2px;
  color: #ffffff;
  z-index: 6;
}
.hire:hover{
  background-color: #008993a9;
  color: #000000;
  border: #b0b0b0 solid 2px;
}
.cv{
  padding-left: 35px; 
  padding-right: 35px; 
  font-weight: 700; 
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 150px;
  border-bottom: #000000a9 solid 3px;
  color: #08292e;
}
.cv:hover{
  color: #008993a9;
  border-bottom: #008993a9 solid 3px;
}
.arrow{
  width: 10px;
  position: relative;
  /* top: 95vh;
  left: 48.9vw; */
  animation: move-arrow-in 5s linear infinite;
  background-color: #00909d00;
}
@keyframes move-arrow-in {
  0% {
      opacity: 0;
      transform: translateX(-400%);
  }
  20% {
      opacity: 1;
      transform: translateX(-200%);
  }
  90% {
      opacity: 1;
      transform: translateX(100%);
  }
  100% {
      opacity: 0;
      transform: translateX(200%);
  }
}
.arrow5{
  display: none;
}
.arrow9{
width: 7px;
position: relative;
/* top: 95vh;
left: 48.9vw; */
animation: kamala 5s linear infinite;
background-color: #00909d00;
}
@keyframes kamala {
0% {
    opacity: 0;
    transform: translateX(500%);
}
20% {
    opacity: 1;
    transform: translateX(300%);
}
90% {
    opacity: 1;
    transform: translateX(100%);
}
100% {
    opacity: 0;
    transform: translateX(0%);
}
}
.rtv{
/* background-color: #00737b; */
animation: havala 5s linear infinite;
}
@keyframes havala {
0% {
    opacity: 1;
    transform: translateX(0%);
}
50% {
    opacity: 0;
    transform: translateX(0%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
.a-arrow{
  /* background-color: #cfcfcf2e; */
  width: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Text typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

#dynamic-text {
  white-space: nowrap;
  overflow: hidden;
  color: #10777e;
}

/* Blinking cursor effect */
#cursor {
  font-weight: bold;
  font-size: 24px;
  color: #4DA8AE;
  animation: blink 1s step-start infinite;
  padding: 10px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* 
#dynamic-text::after, #dynamic-text::before {
  content: none;
}



#dynamic-text {
  caret-color: transparent; 
} */



.image {
  position: absolute;
  width: 376px;
  height: 29.8vh;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
  
.image-left {
  clip-path: polygon(1 0, 100% 0, 0% 100%);
  background-image: url(https://plus.unsplash.com/premium_photo-1661964074409-dfa736a88357?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8amV0JTIwZmlnaHRlcnxlbnwwfHwwfHx8MA%3D%3D);
}

.image-right {
  clip-path: polygon(100% 0, 100% 100%, 0 130%);
  background-image: url(https://en.defence-ua.com/media/illustration/articles/64c6491b67d8b1ff.jpg);
}
.star1{
  width: 50px;
  position: absolute;
  top: 31vh;
  left: 6.5vw;
  animation: arrow1 6s linear infinite;
  border-radius: 1000px;
  z-index: 4;
}
@keyframes arrow1 {
  0% {
      opacity: 0;
      transform: translateY(0%);
  }
  50% {
      opacity: 20%;
      transform: translateY(200%);
  }
  100% {
      opacity: 0;
      transform: translateY(500%);
  }
}
.star2{
  width: 50px;
  position: absolute;
  top: 40vh;
  left: 6.5vw;
  animation: arrow2 5s linear infinite;
  border-radius: 1000px;
  z-index: 4;
}
@keyframes arrow2 {
  0% {
      opacity: 0;
      transform: translateY(0%);
  }
  20% {
      opacity: 0;
      transform: translateY(150%);
  }
  50% {
      opacity: 20%;
      transform: translateY(250%);
  }
  100% {
      opacity: 0;
      transform: translateY(350%);
}
}
.title-sec{
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* color: #4fd3ff;
  background-color: rgba(35, 186, 251, 0.093);  */
  /* backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);  */
  padding-left: 5vw;
  margin-bottom: 50px;
  /* position: sticky; */
  /* top: 8vh; */
  /* z-index: 10; */
  transition: background-color 0.3s ease; 
}
.title-sec h2{
width: max-content;
height: max-content;
display: flex;
align-items: center;
justify-content: center;
color: #4fd3ff;
background-color: rgba(35, 186, 251, 0.093); 
backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px); 
border-left: 4px solid rgba(255, 255, 255, 0.3); 
border-right: 4px solid rgba(0, 0, 0, 0.3); 
border-radius: 0px 100px 100px 0px;
padding: 10px 150px 10px 30px;
/* padding-left: 5vw;
margin-bottom: 50px; */
/* position: sticky; */
/* top: 8vh;
z-index: 10; */
/* transition: background-color 0.3s ease;  */
}
.v2-proj{
  animation: v2-proj 5s linear infinite;
  display: none;
}
@keyframes v2-proj {
  0% {
      opacity: 0;
      transform: translateY(0%);
  }
  50% {
      opacity: 1;
      transform: translateY(0%);
  }
  100% {
      opacity: 0;
      transform: translateY(0%);
}
}
.v2-cust{
  animation: v2-cust 2s linear infinite;
  display: none;
}
@keyframes v2-cust {
  0% {
      opacity: 0;
      transform: translateY(0%);
  }
  50% {
      opacity: 1;
      transform: translateY(0%);
  }
  100% {
      opacity: 0;
      transform: translateY(0%);
}
}
@media (max-width:1000px) {
  #home{
    padding-top: 20vh;
    padding-bottom: 20vh;
}
#home .info{
    width: 100%;
    height: 60%;
    padding-bottom: 20px;
    padding-left: 5vw;
    margin-bottom: 10vh;
}
#home .info p{
    max-width: 400px;
}
#home .photo{
    width: 100%;
    height: 40%;
    margin-top: 2vh;
}
#home .photo img{
    margin-right: 0px;
}
#home .photo .img-i1{
  margin-right: 0px;
  background-color: #ffffff2e;
  border-radius: 60px;
  transform: rotate(0deg);
  border: #008993 solid 7px;
  /* background-image: url(../Images/1000023989.jpg); */
}
.hire{
  padding: 5px;
}
}