.home-2{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 1px;
    background-color: rgb(255, 255, 255); */
}
#sec{
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0); */
}
.info-h-2{
    width: 120%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 10vw;
    gap: 20px;
    /* overflow: hidden; */
}
.btns-h-2{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 1vh;
}
.hire-h-2{
    padding-left: 35px; 
    padding-right: 35px; 
    box-shadow: #00eeffa9 0px 0px 10px 0px; 
    font-weight: 700; 
    font-size: 20px;
    transition: 0.4s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 130px;
    background-color: #005c7683;
    border: #565656 solid 3px;
    color: #a1a1a1;
    z-index: 6;
}
.hire-h-2:hover{
    background-color: #006d9ca9;
    color: #ffffff;
    border: #ffffff solid 3px;
}
.cv-h-2{
    padding-left: 35px; 
    padding-right: 35px; 
    font-weight: 500; 
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    border-bottom:  #005c7683 solid 3px;
    color:  #0091b9;
}
.cv-h-2:hover{
    color: #ffffff;
    border-bottom: #ffffff solid 2px;
}
.sec-1{
    width: 30vw;
    height: 100%;
}
.sec-2{
    display: flex;
    align-items: end;
    justify-content: right;
    width: 35vw;
    height: 100%;
    /* background-color: aliceblue; */
    padding-right: 2vw;
}
.sec-2 img{
    width: 400px;
    opacity: 85%;
    /* display: none; */
    border-radius: 20px;
    padding: 5px;
    background-color: #ffffff;
    opacity: 50%;
}
.sec-3{
    padding-top: 70vh;
    /* padding-left: 4vw; */
    padding-right: 10vw;
    height: 100%;
    /* background-color: #00c3b0; */
    width: 35vw;
}
.sec-3 .media{
    margin-top: 10px;
}
.star-h-1{
    background-color: #00737b7c;
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 30vh;
    left: 20vw;
    transform: rotate(30deg); /* تغيير الزاوية هنا */
    margin: 50px; /* لتكون ديف مرئية بشكل أفضل */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-radius: 20px;
    display: none;
}
.star-h-2{
    background-color: #00737b7c;
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 50vh;
    right: 20vw;
    transform: rotate(30deg); /* تغيير الزاوية هنا */
    margin: 50px; /* لتكون ديف مرئية بشكل أفضل */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-radius: 20px;
    display: none;
}
#star img{
    width: 70px;
    animation: iva 5s linear infinite;
    display: none;
}
@keyframes iva {
    from {
        transform: rotate(0deg); /* بداية الدوران */
    }
    to {
        transform: rotate(360deg); /* نهاية الدوران */
    }
}
.iva{
    animation: arrowa 10s linear infinite;
}
@keyframes arrowa {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    20% {
        opacity: 1;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(-250%);
    }
    100% {
        opacity: 0;
        transform: translateY(-350%);
}
}
.iva2{
    animation: arrowa2 10s linear infinite;
}
@keyframes arrowa2 {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    20% {
        opacity: 1;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(-250%);
    }
    100% {
        opacity: 0;
        transform: translateY(-350%);
}
}


@media (max-width:780px) {
    .star-h-1{
        width: 35vw;
        height: 100vh;
        top: 10vh;
        left: 0vw;
        background-color: #00000000;
    }
    .star-h-2{
        width: 30vw;
        height: 100vh;
        top: 45vh;
        left: 5vw;
        background-color: #00000000;
    }
    .sec-3{
        padding-top: 1vh;
        padding-right: 5vw;
        padding-left: 5vw;
        background-color: #000000ce;
        box-shadow: #000000 0px -10px 10px 2px;
        width: 100vw;
        height: 15vh;
        position: absolute;
        top: 110vh;
        /* display: none; */
    }
    .sec-1{
        width: 100vw;
        height: 50vh;
    }
    .sec-2{
        /* display: flex;
        align-items: end;
        justify-content: center; */
        width: 100vw;
        /* background-color: #bc0000; */
        height: 50vh;
    }
    .info-h-2{
        width: 100%;
        padding-top: 20vh;
        padding-left: 5vw;
    }
    #star img{
        width: 50px;
        animation: iva 5s linear infinite;
        display: block;
    }
    .iva2{
        animation: arrowa2 10s linear infinite;
    }
    @keyframes arrowa2 {
        0% {
            opacity: 20%;
            transform: translateY(-850%);
        }
        100% {
            opacity: 20%;
            transform: translateY(-850%);
        }
        /* 0% {
            opacity: 0;
            transform: translateY(200%);
        }
        20% {
            opacity: 1;
            transform: translateY(-100%);
        }
        50% {
            opacity: 1;
            transform: translateY(-250%);
        }
        100% {
            opacity: 0;
            transform: translateY(-350%);
    } */
    }
    @keyframes arrowa {
        0% {
            opacity: 0;
            transform: translateY(200%);
        }
        20% {
            opacity: 1;
            transform: translateY(-100%);
        }
        50% {
            opacity: 1;
            transform: translateY(-250%);
        }
        100% {
            opacity: 0;
            transform: translateY(-500%);
    }
    }
    .sec-2 img{
        width: 300px;
    }
}