.intro{
    width: 100vw;
    height: 100vh;
    background-color: var(--day_B_color_1);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    align-items:  center;
    justify-content: center;
    transition: 1s;
    opacity: 1;
}
.intro .in-intro{
    display: flex;
    align-items:  center;
    justify-content: center;
    /* margin-bottom: 100px; */
    min-width: max-content;
}
.intro .nn-cover{
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 2s;
    margin-bottom: 100px;
    /* background-color: #ff000033; */
    padding: 10px;
}
.intro h2{
    color: var(--day_color_1);
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}
.intro h2 .aa{
    border: #00000000 solid 3px;
    border-bottom: var(--day_color_2) solid 3.5px;
    border-radius: 100px;
    color: var(--day_color_2);
}
.intro h2 spana{
    position: relative;
    left: -50px;
    top: 20px;
    font-size: 15px;
    font-weight: 700;
    color: var(--day_color_3);
}
.intro .icon{
    font-size: 50px;
    display: inline-flex;
    align-items:  center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    width: 250px;
    height: 80px;
    color: var(--day_color_1);
    /* box-shadow: #00000038 0px 0px 10px 0px; */
}
.intro hr{
    border: none;
    width: 5px;
    height: 100px;
    background-color: var(--day_color_2);
    margin-right: 35px;
    border-radius: 10px;
}