#Projects-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projects{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 20px;
  padding-top: 15vh;
  padding-bottom: 15vh;
  z-index: 1;
  /* background-color: #4ea8af35; */

}
.title-v{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 1.5vw;
  padding-right: 1.5vw; */
  gap: 20px;
}
.title-v a{
  color: #ffffff;
  background-color: #41868ca8;
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  border-top: #00000000 solid 5px;
  border-bottom: #00000000 solid 5px;
  border-left: #004d53 solid 5px;
  border-right: #004d53 solid 5px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px; 
  width: 180px;
  min-width: max-content;
}
.title-v a:hover{
  /* color: #008993a9; */
  /* border-top: #008993a9 solid 4px; */
  /* border-bottom: #008993a9 solid 4px; */
  /* background-color: #ffffff85; */
  background-color: #000000;
}
.s-i4{
  font-weight: 600;
}
.animate-div-fighter{
  /* background-color: #55626a82; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  display: none;
}
.animated-item{
  display:flex;
  align-items: center;
  justify-content: left;
  flex-direction: row-reverse;
  gap: 10px;
  width: max-content;
  height: 100%;
  animation: air-item 25s linear infinite;
  overflow: hidden;
}
@keyframes air-item {
  0% {
    opacity: 0;
      transform: translateX(-600px);
  }
  25% {
    opacity: 1;
      transform: translateX(-200px);
  }
  50% {
    opacity: 1;
      transform: translateX(100px);
  }
  90% {
    opacity: 1;
      transform: translateX(700px);
  }
  100% {
    opacity: 0;
      transform: translateX(800px);
  }
}
.item{
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}
.item-b{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  /* background-color: #ffffff; */
}
#item-1{
  background-image: url(../Images/plane.png);
  transform: rotate(180deg);
  background-color: #00000000;
}
#item-2{
  background-color: #00000000;
  background-image: url(https://cdn-icons-png.freepik.com/256/732/732212.png?ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
}
#item-3{
  background-color: #00000000;
  background-image: url(https://cdn-icons-png.freepik.com/256/732/732190.png?ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
}
#item-4{
  background-image: url(https://cdn-icons-png.freepik.com/256/5968/5968292.png?ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
}
#item-5{
  background-image: url(https://cdn-icons-png.freepik.com/256/5968/5968381.png?ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
}
#item-6{
  background-image: url(https://cdn-icons-png.freepik.com/256/5968/5968672.png?ga=GA1.1.1977550044.1720105698&semt=ais_hybrid);
}
#item-7{
  background-image: url(https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/31/tailwind.png);
}
#item-8{
  background-image: url(https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png);
}
#item-9{
  background-image: url(https://www.pngfind.com/pngs/m/452-4521456_scss-logo-hd-png-download.png);
}
#item-10{
  background-image: url(https://i0.wp.com/techprimelab.com/wp-content/uploads/2020/06/SCSS-or-CSS.jpg?fit=1024%2C576&ssl=1);
}
#item-11{
  background-image: url(https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png);
}
#item-12{
  background-image: url(https://code.visualstudio.com/assets/branding/app-icon.png);
}
#item-13{
  background-image: url(https://1000logos.net/wp-content/uploads/2023/02/ChatGPT-Logo.jpg);
}
#item-14{
  background-image: url(https://cdn-1.webcatalog.io/catalog/deepseek/deepseek-social-preview.png?v=1735234232905);
}
#item-15{
  background-image: url(https://img.uxcel.com/tags/figma-1698087967030-2x.jpg);
}
.a-arrow{
  animation: movera 3s linear infinite;
}
.a-arrow i{
  font-size: 30px;
}
@keyframes movera {
  0% {
      opacity: 0;
      transform: translateX(-400%);
  }
  20% {
      opacity: 1;
      transform: translateX(-200%);
  }
  90% {
      opacity: 1;
      transform: translateX(100%);
  }
  100% {
      opacity: 0;
      transform: translateX(200%);
  }
}
.cards{
  width: 380px;
  height: 30vh;
  /* border-top: #00627bd3  solid 6px; */
  /* border-left: #00c3ff  solid 10px; */
  border-radius: 20px;
  background-color: #0084ff10;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: #00000079 20px 20px 20px 3px;

}
.cards h3{
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  transition: 0.5s;
  color: #ffffffb2;
  font-size: 25px;
  font-weight: 400;
}
.cards .hjn{
background-color: #00000027; 
width: 100%;
height: 100%;
}
.cards h4{
  background-color: #000000a9; 
  border-top: #00bfff solid 3px;
  width: 100%;
  height: 12%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left; 
  padding-left: 20px;
  color: #ffffff;
}
.cards:hover{
  /* animation: vgt 1s linear infinite; */
  transform: translateY(-5%);
  /* transform: scale(10px); */
}
/* @keyframes vgt {
  0% {
      transform: translateY(10%);
  }
  50% {
      transform: translateY(10%);
  }
  100% {   
      transform: translateY(10%);
  }
  } */
.vedasa{
  text-align: center;
}
.cards:hover .vedasa{
display: none;
}
.cards:hover .vedasa2{
display: flex;
}
.timer{
  font-size: 20px;
}
#timer-back{
  background-color: #0000009e;
}
#canceld{
  display: none;
}
.vedasa2{
  display: none;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  width: 100%;
  height: 100%;
}
.cards .vedasa2 a img{
width: 70px;
padding: 12px;
background-color: #000000;
border-radius: 100px;
border: #000000 solid 4px;
border-left: #43A4AB solid 4px;
border-right: #43A4AB solid 4px;
transition: 0.3s;
/* box-shadow: #1680b190 0px 0px 10px 10px; */
}
.cards .vedasa2 a img:hover{
/* box-shadow: #1680b133 0px 0px 20px 20px; */
/* border-top: #ffffff solid 4px;
border-bottom: #ffffff solid 4px; */
border: #43a4ab solid 4px;
border-radius: 20px;
width: 77px;
}
.cards:hover h3{
animation: vee-hma 25s linear infinite;
/* display: none; */
}
@keyframes vee-hma {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
1% {
    opacity: 1;
    transform: translateY(0%);
}
90% {
    opacity: 1;
    transform: translateY(0%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
.cards video{
  width: 108%;
  height: 100%;
}
#a1{
  background-image: url(https://api.reliasoftware.com/uploads/ux_ui_design_together_7865cb455b.webp);
  /* background-image: url(https://cdn.prod.website-files.com/61a9642430af319149dd1ce3/643eb31c6a2141794ef30793_AdobeStock_218394966.jpeg); */
  /* background-image: url(https://bswh-p-001-delivery.sitecorecontenthub.cloud/api/public/content/fde2488779644d4c92ba565cea1fb2dd?v=6c4c0874); */
  background-position: center;
  background-size: cover;
  transform: translateY(50px);
}
#a2{
  /* background-image: url(https://nationalinterest.org/sites/default/files/styles/desktop__1260_/public/main_images/F-22%20Raptor%20from%20U.S.%20Air%20Force.jpg?itok=i82wdNDw); */
  /* background-image: url(https://i0.wp.com/innovation-village.com/wp-content/uploads/2023/11/elon_musk.jpeg?w=945&ssl=1); */
  background-image: url(https://alwofod.sa/wp-content/uploads/2021/08/%D8%A7%D9%84%D8%AE%D8%B7%D9%88%D8%B7-%D8%A7%D9%84%D8%AC%D9%88%D9%8A%D8%A9-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9.jpg);

  background-position: center;
  background-size: cover;
}
#a3{
  background-image: url(https://i.natgeofe.com/n/87a36612-27e8-4e6b-b188-82c37a8dd95a/NationalGeographic_2772395_16x9.jpg);
  /* background-image: url(https://www.hurawalhi.com/wp-content/uploads/2019/04/5.8-3-1030x579.jpg); */
  background-position: center;
  background-size: cover;
  transform: translateY(50px);

}
#a4{
  /* background-image: url(https://images04.nicepage.com/feature/612016/ecommerce-websites.jpg); */
  /* background-image: url(https://images.yourstory.com/cs/206/d6cc5c20076211ed91383927582c5cb0/NIKITAImageTaggingnoframesEditorialTeamMaster32-1676349739464.jpg?mode=crop&crop=faces&ar=2%3A1&format=auto&w=1920&q=75); */
  background-position: bottom;
  background-size: cover;
  transform: translateY(50px);
}
#a4 .hjn{
  transform: translateY(-30vh); 
  background-color: #00000075;
}
#a4 h4 img{
  width: 20px;
  margin-left: 10px;
}
#a5{
  background-image: url(https://www.mediaoffice.ae/-/media/2021/jan/26-01/02/he-khalifa-al-zaffin-and-mohamed-alabbar.jpg?h=1344&w=2016&hash=91EFE5B93ED5D13ECF1813C0EA1F4AA6);
  /* background-image: url(https://i0.wp.com/innovation-village.com/wp-content/uploads/2023/11/elon_musk.jpeg?w=945&ssl=1); */
  /* background-image: url(https://d3lcr32v2pp4l1.cloudfront.net/Pictures/2000xAny/9/7/2/72972_a380_sia_airbush.gousse_225301.jpg); */
  /* background-image: url(https://alwofod.sa/wp-content/uploads/2021/08/%D8%A7%D9%84%D8%AE%D8%B7%D9%88%D8%B7-%D8%A7%D9%84%D8%AC%D9%88%D9%8A%D8%A9-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9.jpg); */
  /* background-image: url(https://dailytrust.com/wp-content/uploads/2021/01/Emirates-Flight-Sale-emirates-airlines.jpg); */
  background-position: center;
  background-size: cover;
}
#a6{
  /* background-image: url(https://gate.ahram.org.eg/Media/News/2021/10/12/2021-637696538275094163-509.jpg); */
  /* background-image: url(https://i0.wp.com/www.ibelieveinsci.com/wp-content/uploads/7lightning.png?fit=1024%2C576&ssl=1); */
  background-image: url(https://marsalqatar.qa/uploads/images/2023/01/b1VKU.jpg);
  background-position: center;
  background-size: cover;
  transform: translateY(50px);

}
@media (max-width:1000px) {
  
.projects{
  width: 100vw;
  padding-left: 0vw;
  padding-right: 0vw;
  /* margin-top: 40vh; */
  padding-top: 15vh;
  height: max-content;
  justify-content: center;
}
.title-v{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-bottom: 5vh;
  /* gap: 20px; */
  /* display: none; */
}
.title-v a i{
/* background-color: #ff0000; */
font-size: 30px;
}
.cards{
  width: 390px;
  height: 240px;
}
.image {
  width: 386px;
  height: 237px;
}
.arrow{
  display: none;
}
.arrow5{
  width: 10px;
  position: relative;
  /* top: 95vh;
  left: 48.9vw; */
  animation: movera 3s linear infinite;
  background-color: #00909d00;
  display: none;
}
@keyframes movera {
  0% {
      opacity: 0;
      transform: translateX(0%);
  }
  20% {
      opacity: 1;
      transform: translateX(200%);
  }
  90% {
      opacity: 1;
      transform: translateX(400%);
  }
  100% {
      opacity: 0;
      transform: translateX(600%);
  }
}
.animate-div-fighter{
  border-radius: 10px;
}
.animated-item{
  width: max-content;
}
.item{
  min-width: 40px;
}
.title-v a{
  width: 150px;
}
}
@media (max-width:1400px) {
  #a5{
    transform: translateY(50px);
  }
  @media (max-width:800px) {
    #a1{
      transform: translateY(0px);
    }
    #a3{
      transform: translateY(0px);
    }
    #a4{
      transform: translateY(0px);
    }
    #a5{
      transform: translateY(0px);
    }
    #a6{
      transform: translateY(0px);
    }
    #a4 .hjn{
      transform: translateY(-240px); 
    }
  }
}









