



#rating-me-r{
  background-color: #00414dd6;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(https://images.pexels.com/photos/12871054/pexels-photo-12871054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  /* background-image: url(sky-stars.jpeg); */
  background-image: url(https://images.unsplash.com/photo-1608933248284-7f926d879533?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  /* background-repeat: repeat; */
  background-attachment: fixed;
  color: #ffffff;
  /* margin-top: 20vh; */
  /* padding-top: 30vh; */
  /* padding-bottom: 20vh; */
}






.main-r{
  width: 100%;
  min-height: 100vh;
  background-color: #1d2f36c6;

  /* background-color: #a81313b1; */
  /* backdrop-filter: blur(3px); */
  /* border-radius: 20px; */
  /* border-bottom: #000000 solid 10px; */
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  overflow-x: hidden;
  /* padding-bottom: 20vh; */
  /* overflow-y: scroll; */
  /* background-image: url(https://images.pexels.com/photos/12871054/pexels-photo-12871054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-position: center;
  background-size: cover;
  /* background-repeat: repeat; */
  background-attachment: fixed;
  /* background-color: #00414d; */
  /* border-radius: 50px; */
}
.main-r .form-div{
  width: 50%;
  height: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 0px 0px 0px 0px;
  padding: 100px 10vw 50px 10vw;
  /* background-color: #0031347b;
  backdrop-filter: blur(20px); */
  z-index: 12;
  /* background-image: url(https://images.pexels.com/photos/12871054/pexels-photo-12871054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-position: center;
  background-size: cover;
  /* background-repeat: repeat; */
  background-attachment: fixed;
}
.main-r .title-form-div{
  color: #ffffff;
  width: 370px;
  padding: 10px;
  height: 100px;
  /* padding-left: 50px; */
  background-color: #005f667e;
  border-left: #75e6ff solid 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 7px;
}
.main-r .logo-screen{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 50px;
  /* padding-left: 100px; */
  /* padding-top: 250px; */
  z-index: 12;
  /* display: none; */
  /* background-color: #00414d; */
  min-height: 300px;
  border-radius: 20px 0px 0px 20px;
  padding-left: 40px;

}
.main-r .logo-screen h2{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  z-index: 12;
}
.main-r .logo-screen span{
  color: #00cddb;
}
.main-r .logo-screen2{
  width: 50%;
  height: 10%;
  display: none;
  align-items: start;
  justify-content: right;
  flex-wrap: wrap;
  font-size: 30px;
  /* padding-left: 100px; */
  /* padding-top: 200px; */
  z-index: 12;
  margin-top: 20vh;
  /* display: none; */
  /* background-color: #00414d; */
}
.main-r .logo-screen2 h2{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  z-index: 1200;

}
.main-r .logo-screen2 span{
  color: #00cddb;
}
.main-r #se2{
  display: none;
  z-index: 12;
}
.main-r #se{
  /* position: fixed; */
  z-index: 5;
  top: 45vh;
  right:  10vw;
  display: block;
  font-size: 18px;
  z-index: 12;
  margin-left: 60%;
  min-width: max-content;
}
.mnjk{
  background-color: #00acb83f;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  position: absolute;
  top: 400px;
  left: 450px;
  z-index: 10;
  border: #00acb800 solid 6px;
  border-top: #ffffff solid 6px;
  border-bottom: #ffffff solid 6px;
  animation: circle-vbn 10s linear infinite;
  display: none;
}
.mnjk2{
  background-color: #00acb83f;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  position: absolute;
  /* top: 100px; */
  margin-top: 60px;
  margin-left: 200px;
  z-index: 10;
  border: #00acb800 solid 4px;
  border-top: #ffffff solid 4px;
  border-bottom: #ffffff solid 4px;
  animation: circle-vbn 10s linear infinite;
}
.mnjk3{
  background-color: #00acb83f;
  width: 100px;
  height: 100px;
  border-radius: 500px;
  position: absolute;
  /* top: 100px; */
  margin-top: 200px;
  /* margin-left: 200px; */
  z-index: 10;
  border: #00acb800 solid 4px;
  border-top: #ffffff solid 4px;
  border-bottom: #ffffff solid 4px;
  animation: circle-vbn 10s linear infinite;
}
@keyframes circle-vbn {
  0% {
      opacity: 0;
      /* transform: translateX(-400%); */
      transform: rotate(0deg);
  }
  20% {
      opacity: 1;
      /* transform: translateX(-200%); */
      transform: rotate(200deg);

  }
  60% {
      opacity: 1;
      /* transform: translateX(-200%); */
      transform: rotate(400deg);

  }
  90% {
      opacity: 1;
      /* transform: translateX(100%); */
      transform: rotate(600deg);
  }
  100% {
      opacity: 0;
      /* transform: translateX(200%); */
      transform: rotate(0deg);
  }
}
@media (max-width:1200px) {
  .main-r{
    justify-content: center;
  }
  .main-r .logo-screen{
    display: none;
  }
  .main-r .logo-screen2{
      display: flex;
  }
  .main-r #se{
    display: none;
  }
  .main-r #se2{
    position: relative;
    z-index: 5;
    /* top: 1vh;
    left: 42vw; */
    left: 60%;
    right: 40%;
    display: block;
    font-size: 18px;
  }
  .main-r .logo-screen2 h2{
    font-size: 70px;
  }
}


@media (max-width:1030px) {
  .main-r .logo-screen2 h2{
    font-size: 50px;
  }
  .main-r .logo-screen2{
    width: 100%;
    justify-content: center;
  }
}













.info-mark{
  width: 100%;
  text-align: left;
  padding: 0px 50px 0px 50px;
  font-size: 18px;
}
.info-mark h4{
  /* background-color: #32818f39; */
  /* padding: 10px 20px 10px 20px; */
  /* border-radius: 20px 20px 10px 10px; */
  padding-bottom: 10px;
  border-bottom: #00ACB8 solid 8px;
}
.mark{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.mark h2{
  background-color: #00414d;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
  border-radius: 10px 100px 10px 100px;
  color: #ffffff;
  border: #ffffff00 solid 10px;
  border-left: #ffffff solid 10px;
  transition: 0.3s;
  cursor: pointer;
}
.mark h2:hover{
  border-left:  #00414d solid 10px;
  background-color: #ffb1b1;
  color: #00414d;
}
#yes span{
  animation: yes 1s linear infinite;
}
@keyframes yes {
  0% {
      opacity: 0;
      /* transform: translateX(-400%); */
      /* transform: rotate(0deg); */
  }
  50% {
      opacity: 1;
      /* transform: translateX(-200%); */
      /* transform: rotate(200deg); */
  }
  100% {
      opacity: 0;
      /* transform: translateX(200%); */
      /* transform: rotate(0deg); */
  }
}
.content-v{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.cover-v{
  max-width: 450px;
  min-width: 450px;
  height: 100%;
  min-height: 460px;
  /* background-color: #00ACB8; */
  margin-left: 425px;
  /* display: none; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 50px;
  transition: 0.3s;
}
.form-v{
  background-color: #0E2728;
  /* box-shadow:  #004e55b9 0px 0px 10px 10px; */
  /* border-bottom: #00CDDB solid 8px; */
  /* background-color: #ff6c6c; */
  display: flex;
  align-items: start;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* padding: 30px 0px 30px 0px; */
  padding-top: 50px;
  border-radius: 15px;
  min-height: 550px;
  overflow: hidden;  
  max-width: 350px;
  min-width: 450px;
}
.form-v input{
  background-color: #0A3335;
  border: #ff000000 solid 10px;
  border-left: #ffffff solid 10px;
  color: #ffffff;
  border-radius: 50px;
}
.form-v input::placeholder{
  color: #ffffff;
}
.form-v #message{
  background-color: #0A3335;
  border: none;
  border-left: #ffffff solid 10px;
  color: #ffffff;
  border-radius: 5px;
}
.form-v #message::placeholder{
  color: #ffffff
}

.f-d-m{
  /* background-color: #00cddb; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  width: 370px;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.f-d-m .f-d-m-right{
  min-width: 360px;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  transition: 0.7s;
  margin-left: 390px;

}
.f-d-m .f-d-m-left{
  min-width: 360px;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  transition: 0.7s;
}



.sipo2{
  /* background-color: rgb(0, 136, 255); */
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.sipo2 h4{
  background-color: rgba(0, 0, 0, 0);
  border:  #00ACB8  solid 3px;
  border-radius: 10px 100px 10px 100px;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
}
.backo{
  cursor: pointer;
  width: 100%;
}
.right-sipo{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  width: 100%;
}
.sipo3{
  width: 100%;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  /* padding-right: 30px;
  padding-left: 30px; */
  gap: 20px;
  padding: 10px;
}
.sipo3 button{
  background-color: rgba(0, 0, 0, 0);
  border:  #00ACB8  solid 3px;
  border-radius: 10px 100px 10px 100px;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
}