
.skills{
    background-color: var(--fourd-color);
}
.skills .box{
    width: 85vw;
    min-height: 80vh;
    /* background-color: var(--fourd-color); */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}
.skills-container{
    /* background-color: rgba(0, 100, 111, 0.225); */
     /* background-color: #00657e1a; */
    border-radius: 30px;
    width: 85vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px 20px 20px;
}
.circles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    height: 100%;
}
.tech{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-in{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--secondary-color);
}
.tech-in h2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tech-in h2 i{
    background-color: var(--fourd-color);
    border-radius: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-container .circle{
    width: 90px;
    height: 90px;
    /* background-color: #3a7584c2; */
    /* border: #ff0000 solid 3px; */
    background-color: #0b5b6f;
    border: #007d8b55 solid 2px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
}
.skills-container .circle h3{
    font-size: 14px;
    line-height: 20px;
    /* color: var(--fourd-color); */
    font-weight: 700;
    color: var(--secondary-color);
    overflow: hidden;
    margin-top: 3px;
}
.skills-container .circle i{
    font-size: 50px;
    /* color: #ffffff; */
    color: var(--secondary-color);
    /* background-color: #ffffffba;
    border-radius: 10px;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.c-2{
    width: 100px;
    height: 100px;
    border-radius: 40%;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    z-index: 0;
    background-color: #00000063;
    display: none;
}

#tailwind img{
    width: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px;
}
#ts img{
    width: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px;
}























/* test */
.skills .langsss{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: #006f7e56 solid 2px; */
    /* background-color:  #006f7e00; */
    /* background-color: #00000000; */
    /* border-radius: 200px; */
    /* width: 400px; */
    min-width: max-content;
    padding: 10px 0px 10px 10px;
    min-height: 140px;
    overflow: hidden;
}
.skills .langsss span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #006f7e solid 2px;
    padding: 3px;
    min-width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
    background-color: #ffffff;
    /* animation: lang 10s infinite linear; */
}
@keyframes lang {
    0%{
        transform: translatey(30px);
    }
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(30px);
    }
}
.skills .langsss i{
    overflow: hidden;
    font-size: 45px;
    color: #00a2b7;
}
.skills .langsss .css{
    left: -20px;
    /* animation: lang 12s infinite linear; */
}
.skills .langsss .tailwind{
    left: -40px;
    /* animation: lang 14s infinite linear; */

}
.skills .langsss .js{
    left: -60px;
    /* animation: lang 16s infinite linear; */
}
.skills .langsss .react{
    left: -80px;
    /* animation: lang 18s infinite linear; */
}
.skills .langsss .react i{
    font-size: 50px;
}
.skills .langsss .nodejs{
    left: -100px;
    /* animation: lang 20s infinite linear; */
}
/* test */





















.certs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    /* background-color: var(--fourd-color); */
    /* background-color: rgba(0, 120, 124, 0.285); */
    background-color: #00657e1a;
    border-radius: 30px;
    padding: 30px;
}
.certs .cert{
    /* width: 300px;
    height: 200px; */
    background-color: var(--fourd-color);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    box-shadow: #00000036 7px 7px 7px 0px;
}
.cert .img{
    width: 380px;
    height: 250px;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: rgba(0, 65, 77, 0.451) solid 3px;
    background-repeat: no-repeat;
}
#cert-1{
    background-image: url(../images/fullstack-almentor.jpg);
}
#cert-2{
    background-image: url(../images/CS50x.jpg);
    background-size: 90%;
    background-color: #ffffff;
}
.cert h3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 650;
}
.cert span{
    font-size: 17px;
    margin-left: 50px;
    color: #007d8b;
}
.certs .tech-in h2 i{
    background-color: var(--secondary-color);
    color: var(--fourd-color);
}







/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */





/* 
@media (max-width:1100px) {
    
} */
@media (max-width:700px) {
    .skills .box{
        width: 100vw;
    }
    .skills-container{
        width: 100vw;
        padding: 40px 0px 0px 0px;
    }
    .certs{
        padding: 10px;
    }
    .tech-in{
        justify-content: center;
        margin-top: 20px;
    }
}