*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}
:root{
    --main-color: #3c3c3c;
    --secondary-color:  rgba(0, 58, 74, 0.951);
    --third-color:  rgb(0, 126, 122);
    --fourd-color: #f7fcfa;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 100vh;
    color: var(--main-color);
    background-color: #91cfba25;
    font-size: 20px;
}
header{
    width: 90vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    z-index: 9;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}
header h2{
    font-size: 20px;
    font-family: "Playwrite IN", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.mom-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
}
.mom-logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://i.pinimg.com/1200x/de/6f/ca/de6fca7812517cce5d8798e6603e1777.jpg);
    background-position: center;
    background-size: cover;
    border: var(--secondary-color) solid 2px;
}

header .right{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    justify-content: right;
}
header .btn{
    background-color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 45px;
    padding: 0px 5px 0px 10px;
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    overflow: hidden;
}
header .arrow{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}
header .arrow i{
    animation: arrow 1s infinite linear;
}
header .btn:hover{
    background-color: #ffffff;
    color: var(--main-color);
    border: var(--secondary-color) solid 2px;
}
header .btn:hover .arrow{
    background-color: var(--secondary-color);
    color: #ffffff;
}
nav{
    background-color: var(--fourd-color);
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav ul li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
    font-weight: 600;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: 0.5s;
}

nav li a:hover::after {
    width: 100%;
    color: var(--third-color);
}
nav a:hover{
    color: var(--third-color);
}
nav a i{
    color: var(--third-color);
    font-size: 17px;
}
.head-bars{
    display: none;
}
.mobile-nav{
    display: none;
}
section{
    width: 100vw;
    min-height: 100vh;
    padding: 7vh 0px 7vh 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    overflow: hidden;
    background-color: #00455c00;
}


footer{
    width: 100vw;
    min-height: 40px;
    background-color: var(--secondary-color);
    display: none;
    align-items: center;
    justify-content: space-around;
}
footer .text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer h2{
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */
/* responsive */





@media (max-width:1100px) {
    header{
        width: 100vw;
    }
    header nav{
        display: none;
    }
    header .right{
        display: none;
    }
    .head-bars{
        display: flex;
         align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #ffffff;
        font-size: 22px;
    }
}
@media (max-width:700px) {
    .mobile-nav{
        display: flex;
         align-items: center;
        justify-content: center;
        width: 380px;
        height: 70px;
        position: fixed;
        z-index: 9;
        bottom: 30px;
        background-color: #00455cdd;
        backdrop-filter: blur(5px);
        border-radius: 25px;
        padding: 3px ;
    }
    .mobile-nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0px 15px 0px 15px ;
        border: #ffffffa9 solid 2px;
        border-radius: 22px;
    }
    .mobile-nav a{
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60px;
        transition: 0.3s;
        padding-top: 5px;
        height: 58px;
    }
    .mobile-nav a:hover{
        color: var(--secondary-color);
        background-color: var(--fourd-color);
        border-radius: 10px;
    }
    .mobile-nav i{
        font-size: 23px;
    }
    .mobile-nav .pro{
        transform: rotate(120deg);
    }

}