*{
  font-family: "Cairo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scrollbar-width: none;

}
body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /* scrollbar-width: none; */
  /* background-color: #4ea8af35; */

}
#main{
  background-color:  rgba(197, 197, 197, 0.434);
  /* background: linear-gradient(to top,  #3ba17a, rgba(0, 0, 0, 0.434) , rgba(197, 197, 197, 0.434) ); */

}
section{
  width: 100vw;
  min-height: 100vh;
  background-color: #4ea8af35;

  /* margin-bottom: 10px; */
}
a{
  text-decoration: none;
  color: #ffffff;
}