.menu-icon{
    display: none;
}
.sidebar{
    display: none;
}
#exa{
  display: none;
}
#servi li{
    border-bottom: rgba(255, 0, 0, 0.495) solid 2px; 
    padding-bottom: 3px;
}
#custo li{
    border-bottom: rgba(255, 0, 0, 0.495) solid 2px; 
    padding-bottom: 3px;
}
#homu li{
    border-bottom: #0072a3 solid 2px; 
    padding-bottom: 3px;
}





@media( max-width: 1080px ){

.menu-icon {
    position: fixed;
    /* top: 18px; */
    right: 8vw;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
    color: rgb(255, 255, 255);
    display: block;
}
.sidebar {
    display: block;
    position: absolute;
    top:6.5vh;
    width: 100%;
    height: 93.5vh;
    right: -1300px;
    background-color: #000000e9;
    transition: right 0.4s ease;
    z-index: 998;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 20vh;
}
.sidebar ul {
    list-style: none;
    padding-top: 15vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
    min-height: 150vh;
    width: 425px;
}
.sidebar ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.sidebar a{
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-size: 20px;
    border-bottom: #029aa58f solid 4px; 
    width: 100%;
    background-color: #1d546b4c;
}
.sidebar a img{
    display: inline-flex;
}
.imo{
    width: 30px;
    margin-right: 10px;
    background-color: #00000077;
    border: #00eeffa9 solid 2px;
    padding: 3px;
    border-radius: 7px;
}
.sidebar ul li a:hover {
    background-color: #555;
}
.coloro{
    display: block;
    color: #ff0000;
}
.vbn-fgh{
  width: 50%;
  margin-top: 7vh;
  border-radius: 30px;
  opacity: 25%;
}
.kmilou87u{
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#message-me{
  width: 425px;
  height: 400px;
  padding-bottom: 5vh;

  /* background-color: #000000; */
}
.form{
  /* background-color: #0088ff9a;  */
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  padding-top: 10%;
  padding-bottom: 10px;
  gap: 10px;
}
.form input{
  width: 100%;
  height: 50px;
  background-color: #071721b2;
  /* border: #ffffff solid 2px; */
  border: none;
  border-bottom: #009dff solid 3px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  outline: none;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.form #message{
  height: 100%;
  height: 170px;
  width: 100%;
  border-radius: 10px;
  background-color: #071721b2;
  /* border: #ffffff solid 2px; */
  border: none;
  border-bottom: #009dff solid 3px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  outline: none;
  padding: 20px;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.form #message::placeholder{
  text-align: center; 
}
.sipo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
  padding-left: 30px;
  gap: 20px;
}
.sipo button{
  height: 40px;
  width: 120px;
  background-color: #000000b4;
  border: none;
  border-bottom: #009dff solid 3px;
  border-radius: 7px;
  color: #ffffff;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sircle{
  width: 35px;
  height: 40px;
  border-top: #ffffff solid 4px;
  border-bottom: #ff0000 solid 4px;
  border-radius: 100px;
  animation: rotate360 2s linear infinite;
  display: none;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
  color: #ccc;
}
.rating span{
  font-size: 50px;
}
.rating span.selected {
  color: #00d5ff;
}
}