




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(30deg , #078093d6 , #078093d4, #ff00007b); */
  color: #ffffff;
  /* background-image: url(https://images.pexels.com/photos/31090348/pexels-photo-31090348/free-photo-of-couple-relaxing-in-scenic-davao-grassland.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #C6D9DA;
}
a{
  text-decoration: none;
  color: #ffffff;
}

























.container {
  height: 70vh;
  /* background-color: #00000037; */
  background-color: #9BAAAB;
  overflow-x: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  padding: 20px;
  scrollbar-width: none; /* إخفاء شريط التمرير */
  /* border: 2px solid #ccc; توضيح مكان الحاوية */
  padding-left: 10.5%;
  padding-right: 10.5%;
  border-radius: 30px;
  max-width: 700px;
  z-index: 1;
}

.container::-webkit-scrollbar {
  display: none; /* إخفاء شريط التمرير */
}

.card {
  min-width: 250px;
  height: 350px;
  /* background-color: royalblue; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
  overflow: hidden;  
  box-shadow: #0000008c 10px 10px 10px 0px;
}
.card .top,.bottom{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #000000d4;
}
.card .top{
  background-image: url(https://images.pexels.com/photos/39896/space-station-moon-landing-apollo-15-james-irwin-39896.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-size: cover;
  /* border-radius: 0px 0px 20px 20px; */
}
.card .bottom{
  /* border-radius: 20px 20px 0px 0px; */
  overflow: hidden;
  gap: 10px;
  background-color: #000000;
}
.card .bottom .title{
  background-color: #7b1717;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}
.card .bottom .title h2{
  font-size: 15px;
}
.card .bottom .info{
  /* background-color: #7b1717; */
  width: 100%;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}
.card .bottom .info h2{
  font-size: 10px;
}
.card .bottom .gok{
  /* background-color: #17697b; */
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
}
.card .bottom .gok .view,.codea{
  width: 30px;
  height: 50px;
  background-color: #000000;
  border-radius: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 30px 0px 30px;
  border: #ffffff00 solid 2px;
}
.card .bottom .gok{
  font-size: 12px;
}
.active {
  /* transform: scale(1.3); */
  min-width: 350px;
  height: 500px;
  border-radius: 20px;
  /* background-color: #ff5722; */
}
.active .bottom .title h2{
  font-size: 18px;
}
.active .bottom .info h2{
  font-size: 15px;
}
.active .bottom .gok .view,.codea{
  width: 90px;
  height: 50px;
  border-radius: 10px 100px 10px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 60px 0px 60px;
}
.active .bottom .gok{
  font-size: 15px;
  padding-left: 0px;
}
.active .bottom .gok .codea{
    background-color: #a60000a5;
    border: #ff000000 solid 3px;
    border-bottom: #ff0000 solid 3px;
}
.active .bottom .gok .view{
    background-color: #0088a664;
    border: #0062ff00 solid 3px;
    border-bottom: #0062ff solid 3px;
}