.Experience{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10vh 10vw 15vh 10vw;
  background: linear-gradient(to right, rgba(0, 217, 255, 0.184), rgba(0, 0, 0, 0.434) , rgba(0, 0, 0, 0.434) );
}
.Experience .card{
  width: 50%;
  height: max-content;
  display: flex;
  /* align-items: start;
  justify-content: center; */
  gap: 40px;
  flex-direction: column;
  /* background-color: rgb(119, 39, 39); */
}
.Experience .card .line{
  background: linear-gradient(to right, rgba(0, 132, 119, 0.411), rgba(0, 48, 65, 0.434) 70%);
  /* width: 45%; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 5vw 0px 5vw;
  /* border-radius: 0px 50px 0px 50px; */
  border-bottom: rgb(126, 126, 126) solid 4px;
  border-radius: 10px;
}
.Experience .imgaq{
  width: 250px;
  margin: 20px;
  margin-left: 200px;
    /* background-color: aqua; */
}
.imgaq img{
  width: 250px;
  animation: moviar 2s linear infinite;
  border: rgb(0, 0, 0) solid 6px;
  border-radius: 25px;
}
@keyframes moviar {
  0% {
      opacity: 1;
      transform: translateY(0%);
  }
  50% {
      opacity: 1;
      transform: translateY(20%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@media (max-width: 870px) {
  .Experience{
    padding: 10vh 0vw 15vh 0vw;
  }
  .Experience .card{
    width: 90%;
  }
  .Experience .card .line{
    height: 8vh;
  }
  .Experience .imgaq{
    margin-left: 0px;
  }
}